@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../fonts/kaushanscript-regular.eot');
    src: url('../fonts/kaushanscript-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kaushanscript-regular.woff') format('woff'),
         url('../fonts/kaushanscript-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'signikaregular';
    src: url('../fonts/signika-regular.eot');
    src: url('../fonts/signika-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signika-regular.woff') format('woff'),
         url('../fonts/signika-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}


* {
	box-sizing:border-box;
	padding:0;
	margin:0;
	border:0;
	outline:0;
}

.container {
	width:1200px;
	margin:0 auto;
}
.container-block {
	position:relative;
}

p.container {
	padding-top:150px;
}


body {
	position: relative;
}
header {
	position:fixed;
	top:0;
	left:50%;
	margin-left:-600px!important;
	z-index:500;
}

.logo {
	font-family:"kaushan_scriptregular";
	color:#fff;
	font-size:36px;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-600px;
	z-index:100;
	/*position:fixed;
	z-index:99999;
	left:50%;
	margin-left:-600px;*/
}
.photo {
	position:relative;
	height:1000px;
	background-attachment:fixed;
	background-size:cover;
	background-color:transparent;
}
.some-text {
	margin-top:-70px;
}
.carousel-inner {
	height:1000px;
}
.carousel-indicators li {
	width:30px;
	height:30px;
	border-radius:50%;
	background:rgba(255, 255, 255, 0.47);
	border:3px solid rgba(255, 255, 255, 0.17);
}
.carousel-indicators li.active {
	background-color:#fff;
	border:3px solid #3f9fc9;
	width:30px;
	height:30px;
	border-radius:50%;
}
.carousel-indicators {
	bottom:300px;
}
.carousel-caption {
	bottom:auto;
	top:220px;
}
	.carousel-caption p {
		font:normal 60px/1 "signikaregular", sans-serif;
		color:#fff;
	}

.first {
	/*background-image:url("../img/img-scroll.png");*/
}
.second {
	background-color:#f17c72;
}
.green {
	/*background-color:#32ac97;*/
	background-image:url("../img/img-scroll3.jpg");
}
.purple {
	background-color:#7f4c76;
}
.blue {
	background-color:#3f9fc9;
}
	.photo:after {
		content:"";
		display:block;
		position:absolute;
		left:50%;
		bottom:-80px;
		margin-left:-50px;
		border:50px solid transparent;
		z-index:99999;
	}
	.first:after {
		border-top:40px solid transparent;
	}
	.second:after {
		border-top:40px solid #f17c72;
	}
	.green:after {
		/*border-top:40px solid #32ac97;*/
		display:none;
	}
	.purple:after {
		border-top:40px solid #7f4c76;
	}

.menu {
	position:fixed;
	z-index:150;
	top:40px;
	right:50%;
	margin-right:-600px;
}
	.menu li {
		list-style:none;
		display:inline-block;
	}
		.menu a {
			color:#fff;
			font-family:"signikaregular", sans-serif;
			font-size:18px;
			padding:42px 15px 10px;
		}
		.menu a:hover {
			text-decoration:none;
		}
		.menu.home-block a:hover,
		.menu.home-block a.active-item {
			background:#3f9fc9;
		}
		.menu.about-block a:hover,
		.menu.about-block a.active-item {
			background:#e6655e;
		}
		.menu.services-block a:hover,
		.menu.services-block a.active-item {
			background:rgba(0, 0, 0, 0.5);
		}
		.menu.clients-block a:hover,
		.menu.clients-block a.active-item {
			background:#b288ab;
		}
		.menu.contacts-block a:hover,
		.menu.contacts-block a.active-item {
			background:#37637f;
		}
		
.social {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-flow:row nowrap;
	justify-content:center;
	position: relative;
	z-index:600;
	bottom:250px;
}
	.icon {
		display:inline-block;
		width:69px;
		height:70px;
		margin:0 10px;
		background-image:url("../img/soc_icon.png");
		background-repeat:no-repeat;
		transition:opacity 0.6s ease-in-out;
	}
		.icon:hover {
			opacity:0.8;
		}
	.facebook {
		background-position:0 0;
	}
	.twitter {
		background-position:-69px 0;
	}
	.google {
		background-position:-139px 0;
	}
	.linkedin {
		background-position:-211px 0;
	}

.footer {
	background-color:#334960;
	height:100px;
}